<ion-content padding>
  <div id="logo">
      <ion-img id="img-logo" src="../../assets/logo.jpeg"></ion-img>
  </div>
  
  <div id="botoes">
      <ion-button class="elemento" (click)="criarConta()" color="dark"  expand="block" fill="outline">
          Cadastrar-se gratuitamente
      </ion-button>

      <hr class="elemento">

      <!-- <div class="elemento" style="display: flex; justify-content: center">
        <ion-button (click)="loginGoogle()"  color="dark" fill="outline" class="google">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </ion-button>
      
        <ion-button (click)="loginFacebook()" color="dark" fill="outline" class="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
      </div> -->

      <!-- <ion-button class="elemento" (click)="loginEmail()" color="dark"  expand="block" fill="outline">
        Continuar com email
      </ion-button> -->

      <ion-button class="elemento" (click)="loginEmail()" color="dark"  expand="block" fill="outline">
        Com email
      </ion-button>

  </div>
  
</ion-content>
