<ion-header>
    <ion-toolbar color="dark">
  
      <ion-buttons slot="start">
          <ion-button fill="clear" size="small" (click)="dismiss()">
            <ion-icon class="icone" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-item>
      <ion-avatar id="avatar" slot="start">
        <img *ngIf="Foto != null" [src]="Foto">
      </ion-avatar>
      <ion-label>
        <h1>{{Nome}}</h1>
      </ion-label>
    </ion-item> 
    
    <ion-item>
      <ion-label position="fixed">
       <h2>Descrição</h2> 
      </ion-label>
      <p>{{ Descricao }}</p>
    </ion-item>

</ion-content>
