#cabecalho{
    height: 60px;
}

#cabecalho ion-searchbar{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#avat{
    width: 70px;
    height: 70px;
}

.itemAtivo:hover {
    background-color: #E8E8E8 !important;
}
.endereco{
    color: #000000 !important;
}