<ion-header>
  <ion-toolbar color="dark">
      <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">  
      </ion-icon>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    A Skin Tattoo é uma empresa ainda novata no mercado, mas que tem por objetivo se consolidar e conectar tatuadores e estúdios de tatuagem aos seus clientes. 
  </p>
  <p>
    Queremos dar credibilidade aos estúdios e passar confiança aos clientes, uma vez que por meio de nosso aplicativo o cliente pode avaliar o serviço prestado pelos tatuadores. 
  </p>
  <p>
    Nosso foco é fazer com que clientes encontrem estúdios de tatuagens de maneira rápida e confiante, faça um orçamento com o profissional e decida se quer ou não contratar o serviço do tatuador. 
  </p>
  <p>
    Quanto aos estúdios e tatuadores, os mesmos terão mais um meio de divulgar seus trabalhos, e ao exercê-los de forma agradável aos seus clientes, poderão ter boas avaliações e bons comentários, atraindo mais clientes para seus serviços.
  </p>
  <p>
    Desejamos a todos os nossos usuários que façam bom uso desse app!
  </p>
</ion-content>

