<ion-header>
  <ion-toolbar color="dark">
      <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">
          Voltar
        </ion-icon>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-input type="email" [(ngModel)]="Email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="Senha" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button (click)="logar()" color="dark"  expand="block" fill="outline">
    Logar
  </ion-button>

</ion-content>